<div class="mb-3">
</div>

<div class="mb-3">
  <button class="btn btn-primary" (click)="runFunction()">
    💸 Run
  </button>
</div>

@if (this.transactionId() === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Submitting EVM transaction...</b>
    </div>
  </div>
} @else if (this.transactionId()) {
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Transaction submitted.</b>
      Transaction ID: <a href="{{ this.scannerUrl() }}/tx/{{ this.transactionId() }}" target="_blank">{{ this.transactionId() }}</a>
    </div>
  </div>
}

@if (this.blockNumber() === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Waiting for block inclusion...</b>
    </div>
  </div>
} @else if (this.blockNumber()) {
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Transaction included in block.</b>
      Block number: <a href="{{ this.scannerUrl() }}/block/{{ this.blockNumber() }}" target="_blank">{{ this.blockNumber() }}</a>
    </div>
  </div>
}

@let jobId = this.jobId();
@if (jobId === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Waiting for canister to index and verify transaction...</b>
    </div>
  </div>
} @else if (jobId) {
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Canister verified transaction and created job.</b>&nbsp;
      Job Id: {{ jobId.id }}&nbsp;
      <a href="/evm/{{ this.chainId(jobId.chain) }}/jobs/{{ jobId.id }}" target="_blank">View status and logs</a>
    </div>
  </div>
}

@if (this.error()) {
  <div class="mb-3">
    <div class="alert alert-danger" role="alert">
      <b>Error:</b> {{ this.error() }}
    </div>
  </div>
}
