<div class="mb-3">
</div>

<div class="mb-3">
  <button class="btn btn-primary" (click)="runFunction()">
    💸 Run
  </button>
</div>

@if (this.transactionId() === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Submitting EVM transaction...</b>
    </div>
  </div>
} @else if (this.transactionId()) {
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Transaction submitted.</b>
      Transaction ID: <a href="{{ this.scannerUrl() }}/tx/{{ this.transactionId() }}" target="_blank">{{ this.transactionId() }}</a>
    </div>
  </div>
}

@if (this.blockNumber() === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Waiting for block inclusion...</b>
    </div>
  </div>
} @else if (this.blockNumber()) {
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Transaction included in block.</b>
      Block number: <a href="{{ this.scannerUrl() }}/block/{{ this.blockNumber() }}" target="_blank">{{ this.blockNumber() }}</a>
    </div>
  </div>
}

@let job$ = this.job();
@if (job$ === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Waiting for canister to index and verify transaction...</b>
    </div>
  </div>
} @else if (job$) {
  @let job = (job$ | async)!;  <!-- Ignoring the server returning null here -->
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Canister verified transaction and created job.</b>
    </div>
  </div>
  <div class="mb-3">
    @switch (jobStatus(job)) {
      @case ('pending') {
        <div class="alert alert-secondary" role="alert">
          <b>Job Status: Not started</b>&nbsp;
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
      @case ('executing') {
        <div class="alert alert-info" role="alert">
          <b>Job Status: Executing</b>&nbsp;
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
      @case ('waiting') {
        <div class="alert alert-info" role="alert">
          <b>Job Status: Waiting for timer</b>&nbsp;
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
      @case ('completed') {
        <div class="alert alert-success" role="alert">
          <b>Job Status: Completed</b>&nbsp;
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
      @case ('failed') {
        <div class="alert alert-danger" role="alert">
          <b>Job Status: Failed</b>&nbsp;
          Reason: {{ $any(job.status).Failed }}
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
    }
  </div>
}

@if (this.error()) {
  <div class="mb-3">
    <div class="alert alert-danger" role="alert">
      <b>Error:</b> {{ this.error() }}
    </div>
  </div>
}
