
<form class="mb-3" [formGroup]="form">
  <div class="form-floating mb-3">
      <input type="text" class="form-control"
        [class.is-invalid]="form.get('calldata')?.invalid"
        id="calldata" formControlName="calldata" placeholder="0x...">
    <label for="calldata">Calldata (hex)</label>
    <div *ngIf="form.get('calldata')?.invalid" class="text-danger">
      Invalid hex format.
    </div>
  </div>
  <div class="form-floating mb-3">
      <input type="number" class="form-control"
        [class.is-invalid]="form.get('amount')?.invalid"
        id="amount" formControlName="amount" placeholder="Amount in gwei">
    <label for="amount">Amount (gwei)</label>
    <div *ngIf="form.get('amount')?.invalid" class="text-danger">
      Amount must be a positive number.
    </div>
  </div>
  <div>
    <button class="btn btn-primary" (click)="runFunction()" [disabled]="form.invalid">
      💸 Run
    </button>
  </div>
</form>

@if (this.transactionId() === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Submitting EVM transaction...</b>
    </div>
  </div>
} @else if (this.transactionId()) {
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Transaction submitted.</b>
      Transaction ID: <a href="{{ this.scannerUrl() }}/tx/{{ this.transactionId() }}" target="_blank">{{ this.transactionId() }}</a>
    </div>
  </div>
}

@if (this.blockNumber() === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Waiting for block inclusion...</b>
    </div>
  </div>
} @else if (this.blockNumber()) {
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Transaction included in block.</b>
      Block number: <a href="{{ this.scannerUrl() }}/block/{{ this.blockNumber() }}" target="_blank">{{ this.blockNumber() }}</a>
    </div>
  </div>
}

@let job$ = this.job();
@if (job$ === 'pending') {
  <div class="mb-3">
    <div class="alert alert-info" role="alert">
      <b>Waiting for canister to index and verify transaction...</b>
    </div>
  </div>
} @else if (job$) {
  @let job = (job$ | async)!;  <!-- Ignoring the server returning null here -->
  <div class="mb-3">
    <div class="alert alert-success" role="alert">
      <b>Canister verified transaction and created job.</b>
    </div>
  </div>
  <div class="mb-3">
    @switch (jobStatus(job)) {
      @case ('pending') {
        <div class="alert alert-secondary" role="alert">
          <b>Job Status: Not started</b>&nbsp;
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
      @case ('executing') {
        <div class="alert alert-info" role="alert">
          <b>Job Status: Executing</b>&nbsp;
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
      @case ('waiting') {
        <div class="alert alert-info" role="alert">
          <b>Job Status: Waiting for timer</b>&nbsp;
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
      @case ('completed') {
        <div class="alert alert-success" role="alert">
          <b>Job Status: Completed</b>&nbsp;
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
      @case ('failed') {
        <div class="alert alert-danger" role="alert">
          <b>Job Status: Failed</b>&nbsp;
          Reason: {{ $any(job.status).Failed }}
          <a href="/chains/eip155:{{ this.chainId(job.request.chain) }}/jobs/{{ job.request.on_chain_id }}" target="_blank">View logs</a>
        </div>
      }
    }
  </div>
}

@if (this.error()) {
  <div class="mb-3">
    <div class="alert alert-danger" role="alert">
      <b>Error:</b> {{ this.error() }}
    </div>
  </div>
}
