@for (commit of this.commits(); track commit; let commitIdx = $index) {
  <!-- TODO: Maybe use an accordion here -->
  <div class="card shadow-sm">
    <div class="card-header d-flex align-items-center justify-content-between py-2">
      <div class="fw-semibold">
        Logs for main() invocation
      </div>
    </div>
    <div class="card-body p-0">
      <div class="log-container">
        <div class="log-timestamp fst-italic mb-2">
          Transaction time: {{ timestampToDate(commit.timestamp).toLocaleString() }},
          {{ commit.logs.length }} log entries
        </div>

        @for (log of commit.logs; track log) {
          <div class="log-line">
            <span class="badge rounded-pill bg-primary-subtle text-primary-emphasis me-2">
              @if ('System' in log.level) {
                system
              } @else if ('Default' in log.level) {
                console.log
              } @else {
                Unknown
              }
            </span>
            <span class="font-monospace log-text">{{ log.message }}</span>
          </div>
        }
      </div>
    </div>
  </div>
}
