<div class="mb-3">
  <button type="button" class="btn btn-primary" (click)="simulate()">
    ▶ Simulate
  </button>
  &nbsp;
  <button type="button" class="btn btn-primary" (click)="simulate()">
    🚀 Deploy
  </button>
</div>

<div class="mb-3">
  @if (this.compilationResult) {
    <!-- 1. Compilation result -->
    @if (!this.compilationResult.success) {
      <div class="alert alert-danger" role="alert">
        <div><b>Compilation Error: {{ this.compilationResult.error }}</b></div>
        <pre style="max-height: 300px">{{ this.compilationResult.logs }}</pre>
      </div>
    } @else {
      <div class="alert alert-success mb-3" role="alert">
        <b>Compiled successfully.</b>
        (Output: <a [href]="watUrl" target="_blank">WAT</a>,
        <a [href]="wasmUrl" target="_blank">WASM</a>)
      </div>

      <!-- 2. Simulation result -->
      @let sim = this.simulation();
      @if (sim) {
        @if (sim.status === 'pending') {
          <div class="alert alert-info" role="alert">
            <div><b>Running simulation...</b> (on a single Internet Computer node)</div>
          </div>
        } @else if (sim.status === 'error') {
          <div class="alert alert-danger" role="alert" style="max-height: 300px; overflow: auto">
            <div><b>Simulation failed unexpectedly</b></div>
            <div>{{ sim.error.message }}</div>
          </div>
        } @else {
          <div class="alert alert-success" role="alert">
            <div><b>Simulation completed.</b>
            (Executed on <a href="https://dashboard.internetcomputer.org/canister/{{ sim.result.canisterId }}" target="_blank">{{ sim.result.canisterId }}</a>)</div>

            <!-- 3. Execution result -->
          </div>

          <!-- 4. Logs -->
          <app-log-viewer [commits]="sim.result.commits"></app-log-viewer>
        }
      }
    }
  }
</div>

<monaco-editor [(code)]="code"></monaco-editor>
