<h1 class="mb-4">❄️ <b>Frosty</b> Functions</h1>

<div class="mb-3">
  <button type="button" class="btn btn-primary" (click)="simulate()">
    ▶ Simulate
  </button>
  &nbsp;
  <button type="button" class="btn btn-primary" (click)="deploy()">
    🚀 Deploy
  </button>
</div>

<div class="mb-3">
  @let compilationResult = this.compilationResult();
  @if (compilationResult) {
    <!-- 1. Compilation result -->
    @if (!compilationResult.success) {
      <div class="alert alert-danger" role="alert">
        <div><b>Compilation Error: {{ compilationResult.error }}</b></div>
        <pre style="max-height: 300px">{{ compilationResult.logs }}</pre>
      </div>
    } @else {
      <div class="alert alert-success mb-3" role="alert">
        <b>Compiled successfully.</b>
        (Output: <a [href]="watUrl" target="_blank">WAT</a>,
        <a [href]="wasmUrl" target="_blank">WASM</a>)
      </div>

      <!-- 2. Simulation result -->
      @let sim = this.simulation();
      @if (sim) {
        @if (sim.status === 'pending') {
          <div class="alert alert-info" role="alert">
            <div><b>Running simulation...</b> (on a single Internet Computer node)</div>
          </div>
        } @else if (sim.status === 'error') {
          <div class="alert alert-danger" role="alert" style="max-height: 300px; overflow: auto">
            <div><b>Simulation failed unexpectedly</b></div>
            <pre>{{ sim.error.message }}</pre>
          </div>
        } @else {
          <div class="alert alert-success" role="alert">
            <div>
              <b>Simulation completed.</b>
              (Executed on <a href="https://dashboard.internetcomputer.org/canister/{{ sim.result.canisterId }}" target="_blank">{{ sim.result.canisterId }}</a>)
            </div>
            <div style="margin-bottom: 0;">
              <div><b>Total fees:</b> {{ formatGwei($any(sim.result).job.base_fee + $any(sim.result).job.execution_fees + $any(sim.result).job.gas_fees) }}</div>
            </div>
          </div>

          <!-- 4. Logs -->
          <app-log-viewer [commits]="sim.result.commits"></app-log-viewer>
        }
      }

      <!-- Deployment -->
      @if (this.deploying()) {
        <div class="alert alert-info" role="alert">
          <div><b>Deploying...</b></div>
        </div>
      }

      @let deployment = this.deployment();
      @if (deployment) {
        @if (deployment.error) {
          <div class="alert alert-danger" role="alert">
            <div><b>Deployment Error:</b> {{ deployment.error }}</div>
          </div>
        } @else {
          <div class="alert alert-success" role="alert">
            <div>
              @if (deployment.duplicate) {
                <b>Deployment with same hash already exists.</b>
              } @else {
                <b>Deployment completed.</b>
              }
              View <a href="/functions/{{ deployment.hash }}" target="_blank">{{ deployment.hash }}</a> to run
            </div>
          </div>
        }
      }
    }
  }
</div>

<monaco-editor [(code)]="code"></monaco-editor>
